* {
    margin: 0;
    padding: 0;
}

.container {
    border: solid black 5px;
}

.item {
    padding: 20px;
    text-align: center;
    border: solid 3px black;
    font-size: 14px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}